.header-container {
  color: #F5F3F5;
  font-family: 'Cabin', sans-serif;
  background-color: #1B264F;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

  .header-container__title {
    font-weight: bold;
    font-size: 32px;
  }

    .header-container__title a {
      text-decoration: none;
      color: #F5F3F5;
    }

  .header-container__controls button {
    border-radius: 2px;
    padding: 7px 12px;
    font-size: 1.1rem;
    font-weight: 600;
  }

    .header-container__controls button#create-account {
      background-color: #F5F3F5;
      border: 1px solid #F5F3F5;
      margin-right: 10px;
      color: #1B264F;
    }

    .header-container__controls button#login {
      background-color: inherit;
      border: 1px solid #F5F3F5;
      color: #F5F3F5;
    }